* {
  margin: 0;
}

.App {
  background-color: #fafafa;
  height: 100vh;
}

.app_header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.app_headerImage {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.app_headerImage img {
  width: 100%;
}

.app_signup {
  display: flex;
  flex-direction: column;
}

.post_right {
  margin-left: 20px;
}

.app_posts {
  padding: 20px;

  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .app_posts {
    display: block;
  }
  .post_right {
    margin: 0;
  }
}
